* {
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
}

#popup {
  position: fixed;
  top: 0;
  right: 0;
  background: #04e762;
  z-index: 9999;
  border-radius: 5px;
  animation: popup 5s ease-in-out forwards;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

#popup p {
  text-align: center;
  padding: 5px 10px;
  color: #181818;
  font-weight: bold;
}

.recipeTable {
  text-align: center;
}

.recipeTable table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  max-width: 1440px;
  margin: 0 auto;
  table-layout: fixed;
}

.recipeTable table tbody tr:nth-child(2n + 1) {
  background-color: #f2f2f2;
}

th,
td {
  padding: 10px;
}

tbody tr {
  cursor: move;
}

.delete-product {
  color: red;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  background-color: transparent;
}

.edit-product {
  color: #4776e6;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  background-color: transparent;
}

/* ============================================ */

#addProductToReceipe {
  max-width: 300px;
  margin: auto;
  padding: 10vh 0;
  text-align: left;
}

#addProductToReceipe form {
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

#addProductToReceipe form label {
  font-size: 90%;
  margin-bottom: 5px;
  color: rgb(60, 60, 60);
}

#addProductToReceipe form input {
  margin-bottom: 8px;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid rgb(200, 200, 200);
  font-weight: bold;
}

#addProductToReceipe form .buttons {
  margin-top: 5px;
  display: flex;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
}
#addProductToReceipe form .btn-grad {
  margin-right: 10px;
  padding: 10px 20px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#addProductToReceipe form .buttons .clear {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: #8e54e9;
  font-weight: 500;
  cursor: pointer;
}

/* ===================== */

footer {
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  left: 0;
  right: 0;
  bottom: 0;
}

footer a {
  text-decoration: underline;
  color: #8e54e9;
}

.dragging {
  filter: blur(4px);
}
